

* {
	margin: 0;
	border: 0;
	padding: 0;
}

body {
	background: #F0F0F0;
	color: #555;
	font-family: 'Ubuntu Condensed', sans-serif;
	line-height: 190%;
	text-align: center;
/*	text-transform: uppercase;*/
}

header {
	background: #405580;
	height: 86px;
	position: fixed;
	z-index: 1000;
	width: 100%;
	opacity: .9;
	top: 0;
}

#header-inner {
	max-width: 1200px;
	margin: 0 auto;
}

#logo {
	background: url(img/the-gym.png);
	float: left;
	width: 200px;
	height: 60px;
	margin: 20px;
}

nav {
	float: right;
	padding: 35px 20px 0 0;
}

#menu-icon {
	background: url(img/icon.png) center;
	width: 40px;
	height: 34px;
	display: hidden;
}

ul {
	list-style: none;
}

nav ul li {
	font-family: sans-serif;
	display: inline-block;
	padding: 10px;
	float: left;
	font-size: 110%;
}

nav ul li a {
	color: orange;
	text-decoration: none;
	font-weight: 700;
}

a:hover {
	text-decoration: none;
	color: pink;
}

.current {
	text-decoration: none;
	color: orange;
}
.clearfix {
	margin-top: 100px;
}



//// 